{% extends "base.html" %}
{% block title %} 404 {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/404.css">
<style>html {--main: 355;}</style>
{% endblock %}
    <script>
        var done = false;

        function countdown() {
            if (done) {
                return;
            }
            var i = document.getElementById('counter');
            i.innerHTML = parseInt(i.innerHTML) - 1;
            if (parseInt(i.innerHTML) <= 0) {
                done = true;
                location.href = history.back();
                // lmao
                i.innerHTML = "a moment";
            }
        }
        setInterval(function () {
            countdown();
        }, 1000);
    </script>
{% block content %}
<div class="main-block">
<i>you seem lost.</i> don't fret!
we'll be back to our scheduled programming in <span id="counter">5</span>.
<br>
<img src="/static/images/404.jpg" height="420" width="420">
</pre>
</div>
{% endblock %}
