{% extends "base.html" %}
{% block title %} rules {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/rules.css">
<style>html {--main: 355;}</style>
{% endblock %}

{% block content %}
<div class="main-block">
	<div class="title-block">
		<h2 class="error-title">
			in-game rules
		</h2>
	</div>
	<div class="error-block">
		<h3 class="error-subtitle">first of all, welcome to tsuki!</h3>
			<li>we're glad to have you here. please make yourself at home.</li>
			<li>we have a few rules here, since the main objective of this server is to show off the limits of closet cheating, there must be rules in place to prevent "overcheating". this page describes those rules.</li>
			<br><h3 class="error-subtitle">preface</h3>
			<li>we do not have a wipe system here. if you break any of these rules intentionally, you will be restricted, and you will have the option to appeal after 2 weeks of being restricted. if you can convince any of the adminstrators that you were unintentionally breaking the rules, then you may receive a wipe instead of a restriction; however this is a rare occurance.</li>
			<br><h3 class="error-subtitle">rule I: no blatant or unfair cheating</h3>
			<li>any blatant cheating will be met with a automatic restriction. this includes, but is not limited to, <strong>autobots (all forms)</strong>, <strong>replay stealing/modding</strong>, <strong>OD changing</strong>, <strong>score editing of any kind</strong>, <strong>inhuman UR (below 80 unconv)</strong> and or <strong>obvious snapping to circles</strong>. if your plays can fool circleguard, it should be good enough.</li>
			<br><h3 class="error-subtitle">rule II: timewarping limits</h3>
			<li>when describing timewarp limits, we will give a percentage which is universal to the double-time speed (1.5x) and nomod (1x). we will give an example on how that translates to a cheat, like maple. you are allowed to go  <strong>as low as 93.3%</strong> when using double-time. this is <strong>1.4x/140</strong> on maple. you are allowed to go <strong>as low as 90%</strong> when using no speed modifier mods (no-mod). this is <strong>0.9x/90</strong> on maple. you are allowed to go <strong>as low as 65%</strong> when using half-time. this is <strong>0.65x/65</strong> on maple. do some math and convert this to your cheat of choice if it is not listed.</li>
			<br><h3 class="error-subtitle">rule III: relax limits</h3>
			<li>all types of relax hacks are allowed here, however you may <strong>not use relax bots that singletap everything</strong>, you <strong>shouldn't be deathstreaming absurdly high bpms</strong>, however, bursts are okay; and your <strong>unconverted UR</strong> should be above, equal, or close in proximity to <strong>80</strong>. </li>
			<br><h3 class="error-subtitle">rule IV: the human limit</h3>
			<li>as mentioned on the home screen, you are <strong>not</strong> here to set 10,000pp plays on 480bpm 1/4 jumps or 800bpm stream maps. this server is intended to show off how "legit" cheating can look. if you're doing scores like <a href=https://link.issou.best/rnr4a>this</a>, then we may have a problem. this rule is discretionary, if you think a score you may set may violate this rule, ping a staff member. they'll tell you.</li>
			<br><h3 class="error-subtitle">rule V: no obvious aim assistance</h3>
			<li>you should <strong>not</strong> obviously being aim assisted. visible snaps are okay as long as they look organic and natural. if you are barely aiming the circle and cursordancing and still hitting the circles, then you are obviously aim assisting.</li>
			<br><h3 class="error-subtitle">rule VI: enlighten limits</h3>
			<li>you are <strong>allowed to use hidden removers</strong>, but you may <strong>not use flashlight removers</strong>. we do not care if there are plays with flashlight on the map you are playing. all flashlight plays must be accompanied with a flashlight liveplay with you playing the map to any mod or admin's dms. also, <strong>AR changing</strong> is <strong>okay</strong> as well, even with the easy mod.</li>
			<br><h3 class="error-subtitle">rule VII: the catch-all</h3>
			<li><strong>administrators and moderators have full discretion over our ruling of these rules</strong>. if you're unsure, <strong>ask</strong>. ignorance does not excuse you from restrictions here.</li>
	</div>
</div>
{% endblock %}
